.card-body{
  margin-left: auto;
  margin-right: auto;
}
.card-body2
{
  width: 500px;

}
.card1
{
  border: none;

}
.position
{
  position: absolute;
}
.usr
{
  color:#274C77;
}
.btncart
{

  color: #235789;
  border-radius: 1rem;
  border-color: #235789;
}
.btncart:hover
{
  background-color: #235789;
  color: white;
}
