<div class="bg-light">
<div class="container pt-5">
  <div class="card">
    <div class="btn btn-danger buttonstyle">{{productdetails.category}}</div>
    <div class="container pl-5 pr-auto">
      <p class="headingstyle">{{productdetails.heading}}</p>
      <p><span class="text-muted">By </span><span><b>{{productdetails.writer}}</b></span>
      <span class="ml-3 text-muted">-</span><span class="ml-3 text-muted">Last updated</span>
      <span class="ml-2"><b>{{productdetails.lastupdated}}</b></span></p>
    </div>
    <img class="imagebg ml-auto mr-auto" src="{{productdetails.img}}">
    <p class="text-muted ml-auto mr-auto">{{productdetails.heading}}</p>
    <div class="container mr-5">
      <p class="mt-3 pr-5">{{productdetails.detail1}}</p>
      <p class="mt-3 pr-5">{{productdetails.detail11}}</p>
      <p class="mt-3 pr-5">{{productdetails.detail12}}</p>
      <h1>{{productdetails.h1}}</h1>
      <p class="mt-3 pr-5">{{productdetails.detailh1}}</p>
      <p class="mt-3 pr-5">{{productdetails.detailh11}}</p>
      <p class="mt-3 pr-5">{{productdetails.detailh12}}</p>
      <h1>{{productdetails.h2}}</h1>
      <p class="mt-3 pr-5">{{productdetails.detailh2}}</p>
      <p class="mt-3 pr-5">{{productdetails.detailh21}}</p>
      <p class="mt-3 pr-5">{{productdetails.detailh22}}</p>
    </div>
  </div>
</div>
</div>
